<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="images/x-icon" href="images/favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Dens Kuliner</title>
</head>
<body>
    <a href="#daftar-resto" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title" tabindex="0">
                Dens Kuliner
            </h1>
        </div>
        <button id="hamburgerButton" class="header__menu" href="#drawer" tabindex="0">☰</button>
        <nav id="navigationDrawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/home" tabindex="0">Home</a></li>
                <li class="nav__item"><a href="#/favorite" tabindex="0">Favorite</a></li>
                <li class="nav__item"><a href="https://www.instagram.com/denisaputra_vkv71/" tabindex="0">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title" tabindex="0">EKSPLORASI RESTORAN DI SEKITARMU</h1>
            <p class="hero__tagline" tabindex="0">Temukan seluruh Restoran terbaik di nusantara</p>
        </div>
    </div>
    <main id="daftar-resto">
        <section class="content">
            <div class="resto">
                <h1 class="resto__label" tabindex="0">Let's Explore the Resto</h1>
                <div class="posts" id="daftar-resto"></div>
            </div>
        </section>
    </main>
    <footer>
        <p tabindex="0">Copyright &copy; 2020 - Dens Kuliner</p>
    </footer>    
</body>
<script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker
               .register('/service-worker.js')
               .then(function() { console.log("Service Worker Registered"); });
    }
    </script>
</html>
